.contenttable{width:100%}
.contenttable th{font-weight:bold;padding:4px 15px 4px 0}
.contenttable th,.contenttable td{padding:2px 15px 2px 0;font-size:14px}
.contenttable th,.contenttable td{vertical-align:middle}
.contenttable .tr-odd{background:#f4f4f4}
.contenttable .tr-even td{padding:4px 15px 4px 0}
.contenttable .td-0{padding-left:2px}
.contenttable .td-2{width:180px}
.borderedList{list-style:none;margin:0 0 20px;padding:0}
.borderedList li{padding:0}
.borderedList li a.more:link,.borderedList li a.more:visited{display:block;padding:15px 0 15px 15px;border-bottom:1px dotted #000;background-position:254px 15px;line-height:11px}
.borderedList li a.more:active,.borderedList li a.more:hover{background-color:#f4f4f4}
.borderedList li:first-child a.more{border-top:1px dotted #000}
.borderedListSolid{list-style:none;margin:0 0 20px;padding:0}
.borderedListSolid li{padding:10px 0 10px 3px;border-bottom:1px solid #505050}
.borderedListSolid li:first-child{border-top:1px solid #505050}
.borderedListSolid.extended p,.borderedListSolid.extended h4{margin:0}
.borderedListSolid.extended h4{font-size:13px}
.borderedListSolid.extended li{position:relative}
.borderedListSolid.extended a{position:absolute;right:0;bottom:13px}
.contentHead{margin:0 0 26px;position:relative}
.contentHead h1,.contentHead h2{margin:0}
.contentHead.borderBottom{border-bottom:1px solid #505050;padding:0 0 12px}
.introHead #kenBurnsFader{height:270px;margin:0 0 40px;width:920px}
.headlineWithLightSubheadline{margin:0 0 60px}
.headlineWithLightSubheadline h1 span{color:#858585}
.contentRow.dottedBorderTopAndBottom{border-bottom:1px dotted #505050;border-top:1px dotted #505050;margin:25px 0;padding-top:18px}
.contentRow.dottedBorderTop{border-top:1px dotted #505050;margin:0 0 8px;padding-top:12px}
.contentRow.dottedBorderTop p{margin:0 0 10px}
.contentRow.dottedBorderBottom{border-bottom:1px dotted #505050;margin:0 0 20px;padding:0 0 8px}
.contentRow.dottedBorderBottom p{margin:0 0 10px}
.contentRow h1{font-size:30px;line-height:36px;text-transform:none}
.contentRow h3{font-size:16px;line-height:18px;margin:0 0 11px}
.contentRow h1+h3{margin-top:-15px}
.contentRow p{margin:0 0 15px;line-height:18px}
.ankerMenu{margin:0 0 20px}
.ankerMenu .column{float:left;padding:0 26px 0 0;width:280px}
.ankerMenu .column li{margin:0 0 7px}
.ankerMenu .column a:link,.ankerMenu .column a:visited{background:url(../images/inpageLink.png) no-repeat -1px 1px;display:inline-block;padding:0 0 0 20px}
.greyBgBox{background:#efefef;margin:0 0 35px;padding:17px 20px 10px;position:relative}
.greyBgBox.withBorder{border:1px solid #d6d6d6}
.greyBgBox h1{margin:0 0 10px}
.greyBgBox ul{list-style:disc outside;margin:0 0 0 17px}
.greyBgBox li{padding-bottom:12px}
.greyBgBox .imgPositionRight{float:right;padding:0 0 5px 10px}
#timeline{padding:50px 0}
#timeline .timelineEntry{background:#efefef;border:1px solid #d6d6d6;margin:0 0 30px;padding:9px 10px 0;position:relative}
#timeline .left,#timeline .right{float:left;width:440px}
#timeline .line{background:#505050;float:left;height:620px;margin:0 18px 0 17px;position:relative;width:2px}
#timeline .line .topFadeOut,#timeline .line .bottomFadeOut{background:url(../images/timelineSprite.png) no-repeat 0 0;height:50px;left:0;position:absolute;width:2px}
#timeline .line .topFadeOut{top:-50px}
#timeline .line .bottomFadeOut{background-position:0 -50px;bottom:-50px}
#timeline .timelineEntry .pointer{background:url(../images/timelineSprite.png) no-repeat -10px 0;height:16px;position:absolute;top:10px;width:28px;z-index:99}
#timeline .left .timelineEntry .pointer{background-position:-16px -52px;right:-27px;height:15px}
#timeline .right .timelineEntry .pointer{left:-27px}
.imageCaption{color:#6e6e6f;display:inline-block;font-size:11px}
.separatorLine{border-bottom:1px dotted #505050;margin:10px 0 18px}
.separatorLine.solid{border-bottom-style:solid}
.separatorLine.dashed{border-bottom-style:dashed}
.imageWrapper{margin:0 0 25px}
.imageWrapper img{margin:0}
.imageLine{margin:0 0 40px}
.imageLine .imageWrapper{display:inline;padding:0 0 0 17px}
.imageLine .imageWrapper:first-child{padding:0}
.lt-ie8 .imageLine .imageWrapper{padding:0 0 0 12px}
.content_50.teaser{cursor:pointer;margin-bottom:0}
.content_50.teaser img,.content_50.teaser .imageWrapper{margin:0 0 8px}
.content_50.teaser .imageWrapper img{margin:0}
.content_50.teaser h3{font-size:16px;margin:0 0 5px}
.content_50.teaser p{line-height:17px;margin:0 0 3px}
.content_50.teaser:hover a{text-decoration:underline}
.teaserSkewedOverlay{position:relative;margin-bottom:35px}
.teaserSkewedOverlay h3{margin:0}
.teaserSkewedOverlay p{margin:0}
.teaserSkewedOverlay a:link,.teaserSkewedOverlay a:visited{text-transform:none;font-size:12px}
.teaserSkewedOverlay .skewedOverlay{position:absolute;bottom:-30px;left:0;background:#eaeae5;padding:10px;width:190px}
.teaserSkewedOverlay .skewedOverlay .skewedBorder{position:absolute;top:-12px;left:0;border-left:0 solid transparent;border-bottom:0 solid transparent;border-right:210px solid #eaeae5;border-top:12px solid transparent}
.powermail_fieldwrap{float:left;margin:0 0 8px;position:relative;width:100%}
.powermail_fieldwrap .powermail_label{display:block;margin:0 0 2px}
.powermail_fieldwrap .powermail_field{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#f4f4f4;border:0;font-size:12px;padding:8px 5px;width:94%}
.powermail_fieldwrap .powermail_select{border:1px solid #aaa;height:30px}
.powermail_fieldwrap .powermail_textarea{height:140px;resize:vertical}
.powermail_fieldwrap .powermail_field.powermail_submit,.registration .powermail_fieldwrap .powermail_field.powermail_submit{background:#ffcb00;background:-moz-linear-gradient(top,#ffcb00 0,#f7ab00 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffcb00),color-stop(100%,#f7ab00));background:-webkit-linear-gradient(top,#ffcb00 0,#f7ab00 100%);background:-o-linear-gradient(top,#ffcb00 0,#f7ab00 100%);background:-ms-linear-gradient(top,#ffcb00 0,#f7ab00 100%);background:linear-gradient(top,#ffcb00 0,#f7ab00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcb00',endColorstr='#f7ab00',GradientType=0);cursor:pointer;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;display:inline-block;font-size:11px;font-weight:bold;line-height:16px;margin:0;padding:7px 22px;text-transform:uppercase;vertical-align:middle;width:auto}
.powermail_fieldwrap .powermail_submit:hover,.powermail_fieldwrap .powermail_submit:active,.registration .powermail_fieldwrap .powermail_submit:hover,.registration .powermail_fieldwrap .powermail_submit:hover{background:#f7ab00;background:-moz-linear-gradient(top,#f7ab00 0,#ffcb00 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7ab00),color-stop(100%,#ffcb00));background:-webkit-linear-gradient(top,#f7ab00 0,#ffcb00 100%);background:-o-linear-gradient(top,#f7ab00 0,#ffcb00 100%);background:-ms-linear-gradient(top,#f7ab00 0,#ffcb00 100%);background:linear-gradient(top,#f7ab00 0,#ffcb00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7ab00',endColorstr='#ffcb00',GradientType=0)}
.powermail_fieldwrap .formError{background:url(../images/formCheckSprite.png) no-repeat 0 0;height:15px;left:auto!important;margin:0!important;position:absolute;right:1px!important;top:23px!important;width:15px}
.powermail_message_error{color:#e71212}
.powermail_create{border:1px solid #7caf24;padding:15px 12px 0}
.powermail_create p:first-child{color:#7caf24;font-size:20px;font-weight:bold}
.powermail_legend,.powermail_form h3,.powermail_fieldwrap .powermail_check_legend,.powermail_fieldwrap .formErrorContent{display:none}
.powermail_fieldwrap.light{color:#6c6c6c;font-style:italic;margin:0 0 11px}
.powermail_fieldwrap.zip .formError{display:none}
.powermail_fieldwrap.zip{float:left;margin-right:1%;width:28%}
.powermail_fieldwrap.city{float:left;padding-right:1%;width:69.69%}
.powermail_fieldwrap_radio.radioButtonsInline{float:left;margin:0 0 12px;width:100%}
.powermail_fieldwrap_radio.radioButtonsInline .powermail_radio_legend,.powermail_fieldwrap_radio.radioButtonsInline .powermail_radio_inner{float:left;padding-right:2%;width:31%}
.powermail_fieldwrap_radio.radioButtonsInline .powermail_radio_legend{width:22%}
.powermail_fieldwrap_radio.radioButtonsInline .powermail_radio_inner label{padding-left:3px}
.registration{background:#f4f4f4;padding:20px}
.registration h1{margin:5px 0 30px}
.registration .powermail_fieldset{width:100%}
.registration .powermail_fieldwrap .powermail_field{background:#fff;width:96%}
.registration .powermail_fieldwrap_check{margin:12px 0 20px}
.registration .powermail_fieldwrap .formError{bottom:8px!important;right:-7px!important;top:auto!important}
.registration .powermail_create{padding:15px 12px}
#solrSearch{position:relative}
#solrSearch #solrSearchInput{font-size:18px;font-weight:bold;margin:0 0 28px;padding:8px 30px 8px 10px;vertical-align:middle;width:380px}
#solrSearch #solrSearchSubmit{background:url(../images/bphil_sprite.png) no-repeat 5px -187px;border:0;height:38px;left:390px;position:absolute;top:1px;width:35px}
#solrSearch .loadingIndicator{background:url(../images/ajaxLoaderSmall.gif) no-repeat 0 0;display:none;height:15px;left:432px;position:absolute;top:9px;width:15px}
#solrSearch #defineSearchArea{margin:0 0 25px}
#solrSearch #defineSearchArea p{float:left;font-size:10px;line-height:11px;padding-right:10px;width:90px}
#solrSearch #defineSearchArea .filterInput{cursor:pointer;height:100%;left:0;position:absolute;top:0;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";width:100%}
#solrSearch #defineSearchArea .filterButton{background:#505050;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#f6f6f6;float:left;margin:0 5px 5px 0;padding:3px 10px 4px 5px;position:relative}
#solrSearch #defineSearchArea .filterButton:hover{text-decoration:underline}
#solrSearch #defineSearchArea .filterButton.active{background:#fc0;color:#505050}
#solrSearch #defineSearchArea .filterButton .indicator{background:#505050 url(../images/searchFilterSprite.png) no-repeat 1px 6px;border-right:1px solid #fff;float:left;height:22px;margin:-3px 10px -4px 0;width:15px}
#solrSearch #defineSearchArea .filterButton.active .indicator{background-color:#fc0;background-position:1px -44px}
#solrSearch #defineSearchArea .filterButton .filterResultCount{padding-left:4px}
#results{list-style:none;margin:0 0 20px;padding:0}
#results .result{border-bottom:1px dotted #7a7a7a;padding:10px 0 0;position:relative}
.lt-ie8 #results .result{overflow:hidden}
.lt-ie8 #results .result.calendar .more{right:50px}
#results .result:first-child{border-top:1px dotted #7a7a7a}
#results .result.hoverBg:hover{background:#f6f6f6}
#results .result .breadcrumb{color:#7a7a7a;font-size:11px;margin:0 0 7px}
#results .result h2{font-size:18px;line-height:22px;margin:0 0 6px}
#results .result h2 a{font-size:18px;line-height:22px}
#results .result h2+h2{margin-top:-7px}
#results .result h2+h3{margin-top:-5px}
#results .result p{margin:0 0 9px}
#results .result img{border:1px solid #d5d5d5;float:left;margin:0 10px 10px 0}
#results .result .results-highlight{background:#a4f36a;padding:2px 1px 1px}
#results .result h2 .results-highlight{color:#505050}
#results .result.calendar .calEntry{margin:0 0 10px}
#results .result.calendar img{border:0;margin:0}
.lt-ie8 #results .result.calendar .date{width:38%}
#results .result.calendar .date p,#results .result.calendar .time p{margin:0 0 8px;line-height:12px}
#results .result.calendar .multiplePerformances .time{width:100%}
#results .result.calendar .multiplePerformances .time p,#results .result.calendar .multiplePerformances .time h3{color:#fff}
#results .result.calendar .multiplePerformances .time h3{font-size:18px}
#results .result.calendar .orchestra.multiplePerformances .time p,#results .result.calendar .orchestra.multiplePerformances .time h3{color:#505050}
#results .suggestedSearchQueries{padding-right:20px}
#highlightedResults .highlightedResult{border:1px solid #d3d3d3;margin:0 0 15px;padding:19px 19px 0}
#highlightedResults .highlightedResult h3+p{margin-top:-10px}
#highlightedResults .highlightedResult h2,#highlightedResults .highlightedResult h2 a{font-size:16px;line-height:20px;margin:0 0 15px}
#highlightedResults .highlightedResult img{border:1px solid #d5d5d5;float:right;margin:0 0 15px 10px}
#highlightedResults .highlightedResult.titleStory img{border:0;margin:0 0 15px}
#paging{margin:0 0 10px}
#paging ul{list-style:none;margin:0;padding:0}
#paging li{float:left;margin:0 5px 0 0}
#paging a:link,#paging a:visited{background:#505050;color:#fff;padding:2px 4px}
#paging a.active:link,#paging a.active:visited,#paging a:hover,#paging a:active{background:#fc0;color:#505050;text-decoration:none}
#newsletter_overlay{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000;background:#000;-ms-filter:alpha(opacity = 60);filter:alpha(opacity = 60);-moz-opacity:.6;-khtml-opacity:.6;opacity:.6}
#newsletter_wrapper{position:absolute;top:0;left:0;z-index:1001}
#content{width:630px;min-height:300px;border:5px solid #fecc02;padding:30px;position:relative;background:#000;text-align:left}
#newsletter_wrapper h1,#newsletter_wrapper p,#newsletter_wrapper span,#newsletter_wrapper label{color:white}
#newsletter_wrapper p{font-size:13px}
#newsletter_wrapper h1{margin:0 0 15px}
#newsletter_wrapper label{float:none;font-size:13px;cursor:pointer;width:90%;display:block}
#newsletter_wrapper #close{position:absolute;top:10px;right:14px;background:url(../images/close.png) right 3px no-repeat;cursor:pointer}
#newsletter_wrapper #close span{color:#707070;padding:0 19px 0;font-size:12px}
#newsletter_wrapper #close:hover span{text-decoration:underline}
#newsletter_wrapper .left{width:440px}
#newsletter_wrapper .input_wrapper{width:230px;margin:5px 0 10px;background:#fff;border:1px solid #999;padding:7px 4px}
#newsletter_wrapper .input_wrapper input{width:100%;padding:0;background:0;border:0;font-size:12px}
#newsletter_wrapper .row{padding:5px 0}
#newsletter_wrapper .row input{float:left;margin:3px 7px 3px 0;cursor:pointer}
#newsletter_wrapper .submit{-webkit-transition:background .3s ease-in-out;-moz-transition:background .3s ease-in-out;-o-transition:background .3s ease-in-out;-ms-transition:background .3s ease-in-out;transition:background .3s ease-in-out;cursor:pointer;border:0;color:black;text-decoration:none;display:inline;width:auto;line-height:0;height:40px;margin:10px 0 0;padding:12px 15px;font-size:12px;text-transform:uppercase;font-weight:bold;background:#ffcb00;background:-moz-linear-gradient(top,#ffcb00 0,#f7ab00 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffcb00),color-stop(100%,#f7ab00));background:-webkit-linear-gradient(top,#ffcb00 0,#f7ab00 100%);background:-o-linear-gradient(top,#ffcb00 0,#f7ab00 100%);background:-ms-linear-gradient(top,#ffcb00 0,#f7ab00 100%);background:linear-gradient(top,#ffcb00 0,#f7ab00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffcb00',endColorstr = '#f7ab00',GradientType = 0)}
#newsletter_wrapper .submit:hover{background:#f7ab00;background:-moz-linear-gradient(top,#f7ab00 0,#ffcb00 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7ab00),color-stop(100%,#ffcb00));background:-webkit-linear-gradient(top,#f7ab00 0,#ffcb00 100%);background:-o-linear-gradient(top,#f7ab00 0,#ffcb00 100%);background:-ms-linear-gradient(top,#f7ab00 0,#ffcb00 100%);background:linear-gradient(top,#f7ab00 0,#ffcb00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f7ab00',endColorstr = '#ffcb00',GradientType = 0)}
#newsletter_wrapper .error_wrapper{width:100%;float:left}
#newsletter_wrapper .error_wrapper .input_wrapper{float:left}
#newsletter_wrapper .error{display:none;width:170px;background:url(../images/error.png) 0 2px no-repeat;margin:5px 0 0 10px;padding:0 0 15px 19px;float:left}
#newsletter_wrapper .error span{color:#e2001a;font-size:12px}
#newsletter_wrapper .right{position:absolute;bottom:0;right:-30px;width:250px;height:320px;background:url(../images/teaser.png) 0 0 no-repeat}
.teaserElement{padding:10px 10px 14px;background:#767676;margin:5px 0 15px}
.teaserElement h2{text-transform:uppercase;font-size:17px;color:#fff;line-height:23px;margin:0 0 7px}
.teaserElement .button{text-transform:uppercase}
.borderedTeaser{border-top:1px dotted #505050;border-bottom:1px dotted #505050;padding:19px 0 23px;margin:0 0 20px}
.borderedTeaser .button{text-transform:uppercase}
.inPageNavigation .navHead{background:#efefef;border-bottom:1px solid #fff;font-weight:bold;padding:6px 12px;text-transform:uppercase}
.inPageNavigation ul{background:#f4f4f4;padding:8px 12px 12px}
.inPageNavigation li{padding-bottom:5px;font-size:13px;font-weight:bold}
.inPageNavigation li a:link,.inPageNavigation li a:visited{background:url(../images/bulletListBlue.png) no-repeat -1000px 3px;display:inline-block;padding-left:18px}
.inPageNavigation .act a:link,.inPageNavigation .act a:visited,.inPageNavigation li a:hover,.inPageNavigation li a:active{background-position:0 3px;text-decoration:none}
.ribbon{background:#fc0;margin:10px -29px 10px 0;padding:8px 25px 3px 30px;position:relative}
.ribbon a:link,.ribbon a:visited{color:#505050}
.ribbon p{margin:0 0 6px}
.ribbon a.more{font-weight:bold}
.ribbon .incisionLeft{border:38px solid transparent;border-left:16px solid white;left:0;position:absolute;top:0}
.ribbon .corner{display:block;height:0;position:absolute;width:0}
.ribbon .corner.bottomRight{bottom:-9px;border-bottom:9px solid transparent;border-left:9px solid #d6af12;border-right:0 solid transparent;border-top:0 solid transparent;right:0}
.lt-ie8 .ribbon .corner{display:none}
.themePage .titleOverlay{position:relative;margin:0 0 35px}
.themePage #titleOverlay{position:absolute;top:0;right:0}
.themePage .content_50.teaser img{margin:0 0 8px}
.themePage .contentRow img,.themePage .contentRow .imageWrapper{margin:0 0 20px}
.themePage .contentRow .imageWrapper img{margin:0}
.themePage .contentHead{border-bottom:1px solid #505050;position:relative;padding:0 0 15px;margin:0 0 38px}
.themePage.calendar .contentHead{margin:20px 20px 38px}
.themePage .contentHead h1{margin:0 0 -3px}
.themePage .contentHead a.return{position:absolute;left:0;bottom:22px;top:auto}
.themePage img+p.imageSubtitle,.themePage img+p.imageCaption{margin-top:-20px;font-size:11px}
.themePage .quote{border-top:1px dotted #7a7a7a;border-bottom:1px dotted #7a7a7a;padding:15px 0;margin:0 0 15px}
.themePage .quote p{font-size:14px;line-height:20px;color:#6e6e6e;margin:0}
.themePage .quote .quoteBy{float:right}
.container_100.cinemaLive{padding:40px;width:880px;position:relative}
.cinemaLive .contentRow{margin:0 0 25px}
.cinemaLive .contentRow .content_30{width:280px;margin-left:20px}
.cinemaLive h3{font-size:18px}
.cinemaLive h3+h3{margin-top:-5px}
.cinemaLive h4{font-size:14px;margin:0 0 11px}
.cinemaLive h4+h4{margin-top:-6px}
.cinemaLive p{line-height:18px}
.cinemaLive .content_30 img{margin-bottom:10px}
.cinemaLive .content_30 p{color:#7a7a7a}
.cinemaLive .alignRight{text-align:right}
.cinemaLive .contenttable .td-4 a,.cinemaLive .contenttable .td-5 a,.cinemaLive .contenttable .td-6 a{font-size:13px;padding-right:12px;background:url(../images/arrow_right_blue.png) no-repeat right 1px;text-transform:uppercase}
#flash.flash-update{display:none}
.container_100.educationPage{background:#fff url(../images/bgImageEducation.jpg) no-repeat 0 0;padding:40px;width:880px}
.container_100.educationPage .col_60{height:240px;width:540px}
.educationPage .col_60 h1,.educationPage .col_60 h2,.educationPage .col_60 p{color:#fff}
.educationPage .col_60 h1{font-size:33px;text-transform:uppercase;margin:0 0 4px}
.educationPage .col_60 h2{font-size:33px;text-transform:none;margin:0 0 20px;padding:0}
.educationPage .col_60 p{font-size:14px;margin:0 0 23px}
.educationPage .col_60 .button{font-size:12px;text-transform:uppercase;padding:7px 17px}
.educationPage .contentRow .content_30{width:270px}
.educationPage .contentRow .content_30 .videoWrapper{height:165px}
.educationPage .contentRow .content_70{width:570px;margin-left:40px}
.educationPage .contentRow .content_70 p{line-height:18px}
.educationPage .borderedList{margin-top:12px}
.educationPage .jsOverlayVideo .playButton{top:64px;left:119px}
.ensemble25 .introHead{padding:60px 0 0;position:relative}
.ensemble25 .introHead #kenBurnsFader{height:310px}
.ensemble25 .logoOverlay{background:url(../images/overlayEnsemble25.png) no-repeat 0 0;width:920px;height:130px;position:absolute;top:0;left:0;z-index:1}
.ensemble25.en .logoOverlay{background:url(../images/overlayEnsemble25en_v2.png) no-repeat 0 0}
.ensemble25 #ensemble25poster{cursor:pointer}
.ensemble25 .galleryTeaser{background:#505050;position:relative;margin:60px 0 20px;padding:10px 205px 20px 15px;cursor:pointer}
.ensemble25 .galleryTeaser h2{font-size:17px;color:#fff;margin:0}
.ensemble25 .galleryTeaser .button{position:absolute;bottom:-15px;left:15px;padding:7px 18px}
.ensemble25 .galleryTeaser:hover .button{color:#4b4b4b;background:#cbcaca;background:-moz-linear-gradient(top,#cbcaca 0,#a1a1a1 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#cbcaca),color-stop(100%,#a1a1a1));background:-webkit-linear-gradient(top,#cbcaca 0,#a1a1a1 100%);background:-o-linear-gradient(top,#cbcaca 0,#a1a1a1 100%);background:-ms-linear-gradient(top,#cbcaca 0,#a1a1a1 100%);background:linear-gradient(top,#cbcaca 0,#a1a1a1 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbcaca',endColorstr='#a1a1a1',GradientType=0)}
.ensemble25 .galleryTeaser img{position:absolute;top:-35px;right:-10px}
.ensemble25 #logo25Ensemble{float:right}
.ensemble25 .logos a{margin:0 0 0 15px}
.ensemble25 .logos a:first-child{margin:0}
.ensemble25 .map{margin:0 0 30px}
.lt-ie9 .ensemble25 .videoCompleteOverlay{background:url(../images/bg_grey_opacity.png)}
.podcasts.videoGallery .videoTitle h2{font-size:20px;line-height:24px}
.podcasts.videoGallery .videoTitle h3{font-size:24px;margin:0 0 4px}
.podcasts.videoGallery .galleryItem .playButton{display:none}
.podcasts.videoGallery .galleryItem:hover .playButton{display:block}
.OA40 #logoOA40{float:right}
.OA40 #titleOverlay{width:526px;height:114px;background:url(../images/overlay40JahreOrchesterAkademie_v2.png) no-repeat 0 0}
.OA40.en #titleOverlay{background:url(../images/overlay40JahreOrchesterAkademieEn.png) no-repeat 0 0;width:571px}
.OA40 .calendar{width:23px;height:14px;display:inline-block}
.OA40 .button .calendar{height:17px}
.OA40 .imageSubtitle+h3{margin-top:40px}
.OA40 .contentRow .content_50 .contentRow .content_50{width:47%;margin-left:6%}
.easterFestival .introHead{position:relative}
.easterFestival .logoOverlay{background:url(../images/logoBigEasterFestival.png) no-repeat 0 0;width:587px;height:130px;position:absolute;top:0;right:0;z-index:1}
.easterFestival.en .logoOverlay{background:url(../images/logoBigEasterFestivalEn.png) no-repeat 0 0}
.easterFestival .contentRow .contentRow{margin:0 0 25px}
.easterFestival .contentHead img{float:right}
.directions{margin:0 0 2px}
.directions .contentRow .content_50{margin-left:2%;width:49%}
.directions .contentRow .content_50 strong{font-size:16px}
.mobileApp .contentRow{margin:0 0 10px}
.mobileApp h1{font-size:30px;margin:0 0 30px}
.mobileApp .ce-text+h2{margin-top:22px}
.bphilFriends #kenBurnsFader{margin:0 0 25px}
.bphilFriends .introHead .logoOverlay{background:url(../images/overlayLogoV2.png) no-repeat 0 0;height:210px;left:0;position:absolute;top:0;width:100%}
.bphilFriends .contentHead{margin:0 0 43px;padding:35px 0 25px}
.bphilFriends .contentHead #logo{position:absolute;right:-20px;top:-20px}
.bphilFriends .ribbon{margin-top:30px;margin-bottom:0}
.bphilFriends li{padding-bottom:12px;line-height:15px}
.bphilFriends .toggle ul{padding:0 0 0 29px}
.bphilFriends .grexBgBox h2{text-transform:none;font-size:20px}
.bphilFriends .greyBgBox.withBorder{padding:17px 20px 48px}
.bphilFriends .greyBgBox.withBorder .imgPositionRight{margin-top:-35px}
.bphilFriends .greyBgBox.withBorder .button{bottom:20px;left:20px;position:absolute}
.bphilFriends .inPageNavigation ul{list-style:none;margin:0}
.bphilFriends .overlayVideo .playButton{background:url(../images/playButtonWithGrayBorderSprite.png) no-repeat 0 0;height:40px;left:36%;top:28%;width:40px}
.bphilFriends .overlayVideo:hover .playButton{background-position:0 -40px}
.bphilFriends .overlayVideo.large .playButton{left:44%;top:41%}
.toggle,.accordion{font-size:13px}
.toggle .head,.accordion .head{cursor:pointer;display:inline-block;text-transform:uppercase;color:#0082b4;font:bold 1em "Lucida Grande",Lucida,Verdana,sans-serif}
.toggle .head:hover,.accordion .head:hover{text-decoration:underline}
.toggle .content,.accordion .content{display:none;padding-bottom:5px;font-size:1.0em}
.toggle .content p,.accordion .content p{margin-bottom:8px}
.toggle.small .head,.accordion.small .head{padding:5px 0 10px 29px}
.toggle.small.closed .head,.accordion.small.closed .head{background:url(../images/toggleSmallSprite.png) -1px 3px no-repeat}
.toggle.small.opened .head,.accordion.small.opened .head{background:url(../images/toggleSmallSprite.png) -1px -97px no-repeat}
.toggle.large,.accordion.large{border-bottom:1px dotted #505050}
.toggle.large .content,.accordion.large .content{margin-bottom:10px}
.toggle.large .head,.accordion.large .head{padding:10px 0 10px 40px;font-size:18px}
.toggle.large.closed .head,.accordion.large.closed .head{background:url(../images/toggleLargeSprite.png) -2px 7px no-repeat}
.toggle.large.opened .head,.accordion.large.opened .head{margin-bottom:10px;background:url(../images/toggleLargeSprite.png) -1px -92px no-repeat}
.inPage_100 .contentHead.borderBottom{margin:0 0 25px;padding:0 0 12px}
.inPage_100 .calEntry .shortDescription{position:relative}
.inPage_100 .calEntry .shortDescription,.inPage_100 .calEntry .shortDescription .buy{width:551px}
.inPage_100 .contentHead a.more:link,.inPage_100 .contentHead a.more:visited{bottom:20px;position:absolute;right:0}
.inPage_100 .calEntry.small.guest .shortDescription{width:430px}
.inPageFluid .contentHead{margin:0 0 50px;padding:0 0 12px}
.inPageFluid .contentHead h1{font-size:25px;line-height:29px;text-transform:uppercase}
.inPageFluid .contentHead a.more:link,.inPageFluid .contentHead a.more:visited{bottom:-35px;position:absolute;right:0;top:auto}
.inPageFluid .calEntry .teaser{border:0;border-left:1px solid #fff;position:absolute;right:0;top:0;width:60px}
.inPageFluid .calEntry .teaser img{display:block;height:60px;margin:0;width:60px}
.inPageFluid .calEntry .date,.inPageFluid .calEntry .time{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:60px;width:50%}
.inPageFluid .calEntry .date{padding:10px 20px}
.inPageFluid .calEntry .time{padding:10px 70px 10px 20px}
.inPageFluid .calEntry .date .day,.inPageFluid .calEntry .time .start{font-size:18px;line-height:22px}
.inPageFluid .calEntry .date p,.inPageFluid .calEntry .time p{margin:0 0 3px}
.inPageFluid .calEntry .shortDescription,.inPageFluid .calEntry .shortDescription .buy{width:100%}
.inPageFluid .calEntry .shortDescription{border-top:1px solid #fff;position:relative}
.inPageFluid .calEntry .shortDescription .event{color:#7a7a7a;margin:0 0 10px}
.inPageFluid .calEntry .shortDescription h2{margin:0 0 14px}
.inPageFluid .calEntry .shortDescription .asideMusicianRole{margin-top:-12px}
.inPageFluid .calEntry .shortDescription .col_70{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:static;width:86%}
.inPageFluid .calEntry.small.guest .shortDescription{padding:8px 8px 1px;width:96%}
.inPageFluid .message{padding-left:10px}
.lt-ie8 .inPageFluid .date,.lt-ie8 .inPageFluid .time{height:40px}
.lt-ie8 .inPageFluid .date{width:41%}
.lt-ie8 .inPageFluid .time{width:36%}
.orchestra .filter{margin:25px 0}
.orchestra .filter.hovering{position:fixed;top:0;z-index:99;background:#fff;-moz-box-shadow:0 0 10px #aaa;-webkit-box-shadow:0 0 10px #aaa;box-shadow:0 0 10px #aaa;padding:15px 20px 0;margin:0 -20px;width:920px}
.orchestra .filter .row{list-style:none;margin:0 0 15px;padding:0}
.orchestra .filter a:link,.orchestra .filter a:visited{color:#0082b4;background:url(../images/inpageLink.png) no-repeat -1px 1px;padding:0 0 0 20px;display:block}
.orchestra .artists{border-top:1px solid #505050;padding:5px 0 0;margin:0 0 25px}
.orchestra .artists .row{margin:0 0 30px}
.orchestra .artists h2{font-size:18px;margin:0 0 20px}
.orchestra .filter li,.orchestra .artists .artist{float:left;width:140px;padding:0 16px 0 0}
.orchestra .filter li.last,.orchestra .artists .artist.last{padding:0}
.orchestra .artists .artist .imageWrap,.orchestra .artists .artist .fallback{height:140px;width:140px;margin:0 0 3px}
.orchestra .artists .artist .fallback{background:#dedede}
.orchestra .artists .artist .imageWrap{position:relative}
.orchestra .artists .artist .imageWrap img{position:absolute;left:0;bottom:0}
.orchestra .artists .artist .name{margin:0 0 3px}
.orchestra .artists .artist .role{color:#484849;margin:0 0 3px}
.orchestra .organisation{margin:80px 0 0}
.orchestra .organisation .contentRow{margin:0}
.orchestra .organisation .content_25 ul{list-style:none;padding:0}
.orchestra .organisation .content_25 ul li{padding:0 0 2px}
.orchestra .contentHead{position:relative;border-bottom:1px solid #505050;padding:0 0 25px;margin:0 0 40px}
.orchestra .contentHead h1{margin:0 0 5px}
.orchestra .contentHead #paging{position:absolute;top:0;right:0;width:143px}
.orchestra .contentHead #paging p{margin:0 0 3px;color:#484849}
.orchestra .contentHead #paging>div{float:left;width:70px;height:30px;margin:0 2px 0 0;position:relative;cursor:pointer;background:#ffcb00;background:-moz-linear-gradient(top,#ffcb00 0,#f7ab00 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffcb00),color-stop(100%,#f7ab00));background:-webkit-linear-gradient(top,#ffcb00 0,#f7ab00 100%);background:-o-linear-gradient(top,#ffcb00 0,#f7ab00 100%);background:-ms-linear-gradient(top,#ffcb00 0,#f7ab00 100%);background:linear-gradient(top,#ffcb00 0,#f7ab00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcb00',endColorstr='#f7ab00',GradientType=0)}
.orchestra .contentHead #paging>div:hover{background:#f7ab00;background:-moz-linear-gradient(top,#f7ab00 0,#ffcb00 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7ab00),color-stop(100%,#ffcb00));background:-webkit-linear-gradient(top,#f7ab00 0,#ffcb00 100%);background:-o-linear-gradient(top,#f7ab00 0,#ffcb00 100%);background:-ms-linear-gradient(top,#f7ab00 0,#ffcb00 100%);background:linear-gradient(top,#f7ab00 0,#ffcb00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7ab00',endColorstr='#ffcb00',GradientType=0)}
.orchestra .contentHead #paging .right{margin:0}
.orchestra .contentHead #paging a:link,.orchestra .contentHead #paging a:visited{position:absolute;top:0;left:0;width:100%;height:100%}
.orchestra .contentHead #paging a:hover,.orchestra .contentHead #paging a:active{text-decoration:none}
.orchestra .contentHead #paging .left a:link,.orchestra .contentHead #paging .left a:visited,.orchestra .contentHead #paging .left a:hover,.orchestra .contentHead #paging .left a:active{background:url(../images/pagingArrows.png) no-repeat 29px 6px}
.orchestra .contentHead #paging .right a:link,.orchestra .contentHead #paging .right a:visited,.orchestra .contentHead #paging .right a:hover,.orchestra .contentHead #paging .right a:active{background:url(../images/pagingArrows.png) no-repeat -48px 6px}
.orchestra .detailed h2{margin:0 0 2px;text-transform:none}
.orchestra .detailed h2+h3{margin:0 0 23px}
.orchestra .detailed .quote{font-size:14px;line-height:19px;margin:0 0 27px}
.orchestra .detailed .row{border-top:1px solid #505050;padding:13px 0 10px}
.orchestra .detailed .content_55>div:last-child{border-bottom:1px solid #505050}
.orchestra .detailed .row p{margin:0}
.orchestra .detailed .shortInfo{margin:8px 0 40px;border-bottom:0!important}
.orchestra .detailed .shortInfo p{margin:0}
.orchestra .detailed ul.musicians{list-style:none;margin:0;padding:0}
.orchestra .detailed .musicians li{float:left;width:180px;padding:0 0 3px}
.orchestra .detailed .musicians li.active a:link,.orchestra .detailed .musicians li.active a:visited{padding:0 0 0 15px;background:url(../images/artistSprite.png) no-repeat 0 2px}
.orchestra .detailed .musicians li.passive{padding-left:15px;width:165px;background:url(../images/artistSprite.png) no-repeat 0 -97px}
.orchestra .teaser.shop{background:url(../images/onlineshopTeaser.jpg) no-repeat 0 -5px;padding:0 0 0 210px;margin:40px 0 20px;min-height:155px}
.orchestra .teaser.shop h3{border-bottom:1px solid #505050;padding:0 0 7px}
.orchestra .teaser.shop p{line-height:18px}
.orchestra .teaser.shop .button{margin-top:12px}
.orchestra .videoTeaser{margin:25px 0 20px;cursor:pointer}
.orchestra .videoTeaser a.play{float:left;width:185px;margin:0 4px 0 0;position:relative}
.orchestra .videoTeaser a.play .playButton{top:32px;left:74px;width:40px;height:40px;background:url(../images/playButtonWithGrayBorderSprite.png) no-repeat 0 0}
.orchestra .videoTeaser a.play:hover .playButton{background-position:0 -40px}
.orchestra .videoTeaser .videoDescription{border-top:1px dotted #505050;border-bottom:1px dotted #505050;width:219px;height:87px;padding:12px 0 0 15px;float:left}
.orchestra .videoTeaser .videoDescription:hover a{text-decoration:underline}
.orchestra .videoTeaser p{margin:0 0 4px;font-size:12px}
.orchestra .videoTeaser h2{text-transform:uppercase;margin:0 0 4px;font-size:15px;line-height:18px}
.videoGallery .videoCompleteOverlayWrap{z-index:99;position:relative;height:516px}
.videoGallery .videoCompleteOverlay{position:absolute;top:196px;left:0;width:100%;background:rgba(0,0,0,0.7);padding:20px 0}
.videoGallery .videoCompleteOverlay h2{width:470px;margin:0 auto 15px;text-align:center;font-size:20px;color:#fff;text-transform:none}
.videoGallery .videoCompleteOverlay p{text-align:center;margin:0}
.videoGallery .galleryItems{margin:0 -10px 40px}
.videoGallery .videoTitle h2{font-size:30px;line-height:32px}
.videoGallery .videoTitle h3{font-size:28px;line-height:28px;color:#747474;margin:0 0 15px}
.videoGallery .comingSoon,.videoGallery .galleryItem{float:left;width:170px;height:170px;padding:9px;margin:0 0 15px}
.videoGallery.podcasts .galleryItem{height:195px}
.videoGallery .galleryItem{cursor:pointer;position:relative}
.videoGallery .galleryItem:hover a{text-decoration:underline}
.videoGallery .galleryItem .playButton{position:absolute;top:37px;left:74px;width:40px;height:40px;background:url(../images/playButtonWithGrayBorderSprite.png) no-repeat 0 0}
.videoGallery .galleryItem:hover .playButton{background-position:0 -40px}
.videoGallery .galleryItem .jsVideoGalleryItemText{display:none}
.videoGallery .galleryItem img{margin:0 0 8px}
.videoGallery .galleryItem p{margin:0 0 3px}
.videoGallery .galleryItem p.firstSubtitle{font-size:11px}
.hallPlan .content_head h1{margin-bottom:50px}
.hallPlan .content_head h2{font-size:18px;padding:0}
.hallPlan .content_head a{top:87px;right:0}
.hallPlan h4{font-size:13px}
.hallPlan .contentRow{background:#f4f4f4;padding:20px;page-break-inside:avoid}
.priceList{margin-top:5px;line-height:12px;margin-right:-5px;font-size:11px}
.priceList#priceListEnsemble{margin-top:20px;margin-bottom:115px}
.priceList .head>div,.priceList .row>div{margin-left:4px;float:left;min-height:24px}
.priceList .head>div{border-top:1px solid #505050;border-bottom:1px solid #505050;padding:8px 0 8px 6px;text-transform:uppercase;font-size:11px}
.priceList .mainCategory{margin-left:146px;margin-right:9px;border-top:1px solid #505050}
.priceList#priceListEnsemble .mainCategory{margin-left:239px}
.priceList.abo .mainCategory{margin-left:215px;margin-right:6px}
.priceList .mainCategory>div{padding:10px 0;text-align:center;font-weight:bold;font-size:12px;letter-spacing:2px;text-transform:uppercase;float:left}
.priceList .row>div{border-bottom:1px dotted #505050;padding:8px 0 8px 6px}
.no-js .priceList .row>div{height:50px}
.no-js .priceList#priceListEnsemble .row.II>div{height:65px}
.priceList .head .col_1{margin-left:0}
.priceList .row .col_1{position:relative;vertical-align:middle;padding-left:7px;text-transform:uppercase;margin-left:10px}
.priceList .col_1{width:58px}
.priceList .head .col_1{width:69px}
.priceList .col_2{width:58px}
.priceList .col_3,.priceList .col_4,.priceList .col_5{width:32px}
.priceList .col_6,.priceList .col_7,.priceList .col_8{width:40px}
.priceList .mainCategory .col_1,.priceList#priceListEnsemble .mainCategory .col_1,.priceList.abo .mainCategory .col_1{width:100%}
.priceList#priceListEnsemble .head .col_1{width:60px}
.priceList#priceListEnsemble .col_1{width:50px}
.priceList#priceListEnsemble .col_2{width:160px}
.priceList#priceListEnsemble .col_3,.priceList#priceListEnsemble .col_4{width:81px}
.priceList.abo .head .col_1{width:86px}
.priceList.abo .col_1{width:75px}
.priceList.abo .col_2{width:110px}
.priceList.abo .col_3,.priceList.abo .col_4{width:95px}
.priceList .small{font-size:10px}
.priceList .col_1 .stripe{position:absolute;top:0;left:-10px;width:10px;height:100%;background:#d9d7cb}
.priceList .I .col_1 .stripe{background:#1c1c1b}
.priceList .II .col_1 .stripe{background:#434342}
.priceList#priceListEnsemble .II .col_1 .stripe,.priceList .III .col_1 .stripe{background:#636362}
.priceList .IV .col_1 .stripe{background:#818181}
.priceList .V .col_1 .stripe{background:#9d9c9c}
.priceList .emporeF .col_1 .stripe,.priceList#priceListEnsemble .III .col_1 .stripe,.priceList .VI .col_1 .stripe{background:#b3b2b2}
.priceList .VII .col_1 .stripe{background:#d0d0cf}
.priceList .VIII .col_1 .stripe{background:#e3e3e3}
.priceList#priceListEnsemble .IV .col_1 .stripe{background:#d9d7cb}
.priceList ul{list-style:none;padding:0;margin:0}
.priceList .col_2 li{padding-bottom:2px;font-size:11px}
.priceList .col_2 strong{padding-right:5px}
.priceList#priceListEnsemble .col_2{text-transform:uppercase}
.priceList .row{background:#f4f4f4}
.priceList .row.clickable:hover>div,.priceList .row.clickable.active>div{background:#fff}
.priceList .row.clickable:hover .col_2,.priceList .row.clickable.active .col_2{background:#fc0}
.priceList.abo#priceListEnsemble .mainCategory{margin-left:98px;padding-left:100px}
.priceList.abo#priceListEnsemble .col_1,.priceList.abo#priceListEnsemble .col_2{width:45px;padding-left:2px;padding-right:0;margin-left:1px}
.priceList.abo#priceListEnsemble .col_3,.priceList.abo#priceListEnsemble .col_4,.priceList.abo#priceListEnsemble .col_5,.priceList.abo#priceListEnsemble .col_6,.priceList.abo#priceListEnsemble .col_7,.priceList.abo#priceListEnsemble .col_8,.priceList.abo#priceListEnsemble .col_9,.priceList.abo#priceListEnsemble .col_10{width:40px;padding-left:0;padding-right:0;margin-left:1px;text-align:center}
.mapWrapper{height:510px;width:460px;overflow:hidden}
.mapWrapper#mapPhilharmonie{background:url(../images/philharmonieAllImages.png) 0 0 no-repeat;margin:50px 0 40px -6px}
.en .mapWrapper#mapPhilharmonie{background:url(../images/philharmonieAllImagesEn.png) 0 0 no-repeat}
.mapWrapper#mapEnsemble{background:url(../images/ensembleAllImagesV2.png) 0 0 no-repeat;margin:17px 0 -25px -6px}
.en .mapWrapper#mapEnsemble{background:url(../images/ensembleAllImagesEn.png) 0 0 no-repeat}
.lt-ie8 .priceList .col_1 .stripe{display:none}
@media print{.mapWrapper .placeholderMap{display:none}
}
#overlayDark{position:fixed;top:0;left:0;right:0;bottom:0;z-index:1000;background:#000;-moz-opacity:.6;-khtml-opacity:.6;opacity:.6;display:none}
.overlayVideo{cursor:pointer;position:relative;margin-bottom:15px}
.overlayVideo .hasPlayButton{position:relative;display:block;height:100%;padding:0}
.lt-ie9 .overlayVideo .playButton{background:url(../images/bg_grey_opacity.png)}
.overlayVideo:hover .playButton{background-position:0 -30px}
.overlayVideo .overlay{position:absolute;bottom:0;left:0;min-height:40px;padding:15px 15px 10px;width:240px;background:#4b4b4b;background:rgba(0,0,0,0.7)}
.overlayVideo .overlay p{color:#fff;margin:0 0 5px}
.overlayVideo .playButton{position:absolute;top:50%;left:50%;margin:-15px 0 0 -16px;height:30px;width:32px;background:url(../images/playButtonSprite.png) 0 0 no-repeat}
.overlayVideo:hover .playButton{background-position:0 -30px}
#overlayVideoWrapper{padding:15px 20px;position:fixed;top:20%;left:30%;z-index:1001;background:#000;display:none}
#overlayVideoClose{position:absolute;top:7px;right:5px;z-index:1;height:15px;width:15px;cursor:pointer;background:url(../images/calendarDetailedViewSprite.png) 1px -399px no-repeat}
#overlayVideoWrapper .videoDescriptionWrapper{color:#fff;padding:10px 0}
#overlayVideoWrapper.lightAppearance{background:#fff;padding:0}
#overlayVideoWrapper.lightAppearance .videoDescriptionWrapper{color:#505050;padding:12px 20px;width:640px}
#overlayVideoWrapper.lightAppearance .closeWrapper{height:0;border:60px solid transparent;border-right:0;border-top:55px solid #fff;position:absolute;right:0;top:0;width:0}
#overlayVideoWrapper.lightAppearance #overlayVideoClose{background-position:7px -393px;height:25px;top:-49px;width:25px}
.lt-ie9 #overlayDark{background:url(../images/bg_grey_opacity.png)}
.lightboxWrap{height:100%;left:0;position:absolute;top:0;width:100%;z-index:10000}
.lightbox{background:#FFF;padding:10px;position:relative;margin:5px auto 0;width:940px;z-index:10001}
.lightbox .closeButton{cursor:pointer;height:40px;position:absolute;right:8px;top:8px;width:40px}
.lightbox .closeButton .corner{border-top:0 solid transparent;border-right:40px solid #FFF;border-bottom:40px solid transparent;border-left:0 solid transparent;display:block;position:absolute;right:0;top:0}
.lightbox .closeButton .closeIcon{background:url(../images/lightboxIconClose.png) no-repeat 0 0;height:15px;overflow:hidden;position:absolute;right:0;text-indent:-999px;top:0;width:15px}
.lightbox .arrows .arrowLeft,.lightbox .arrows .arrowRight{position:absolute;top:0;cursor:pointer;height:100%;width:50%}
.lightbox .arrows .arrowLeft{left:0}
.lightbox .arrows .arrowRight{right:0}
.lightbox .arrows .arrowLeft .arrow,.lightbox .arrows .arrowRight .arrow{position:absolute;top:38%;width:35px;height:75px}
.lightbox .arrows .arrowLeft .arrow{background:#FFF url(../images/lightboxArrowLeft.png) no-repeat 8px 30px;left:10px}
.lightbox .arrows .arrowLeft .arrow:hover{background:#ffcb00 url(../images/lightboxArrowLeft.png) no-repeat 8px 30px}
.lightbox .arrows .arrowRight .arrow{background:#FFF url(../images/lightboxArrowRight.png) no-repeat 12px 30px;right:10px}
.lightbox .arrows .arrowRight .arrow:hover{background:#ffcb00 url(../images/lightboxArrowRight.png) no-repeat 12px 30px}
.lightbox .image{overflow:hidden}
.lightbox .image img{max-width:100%}
.lightbox .subtitle{color:#000;padding:12px 0 20px;margin:0}
.lightbox .imageContainer{list-style:none;margin:0;padding:0}
.lightbox .imageContainer>li{display:none}
.lightbox .imageContainer>li.active{display:block}
.jsLightboxImage{cursor:pointer}
