  
li {
  list-style: none; }
  
#top-slider ul{padding:0;}  

.d p, .d ul, .d ol, .d dl, table, caption, blockquote, address, pre, hr, .hr {
  margin-bottom: 17px; }
/* Page home
------------------------------------------------------------------------------------------------------------------- */

  
.page-home {
  margin:0 auto;
  background: url(../../images/typo3_5pics/shadow-site-home.png) repeat-x 0 -5px; }

.page-home .p {
  background: none; }
.page-home .p {
  background: none repeat scroll 0 0 transparent; }  

.page-home .c {
  border: none; }

.page-home .s {
  padding: 0;
  overflow: visible; }
  
.page-home .page-wrapper {
    background: url(../../images/typo3_5pics/shadow-top-slider1.jpg) no-repeat center 59px; }  

.page-wrapper {
  background: transparent url(../../images/typo3_5pics/shadow-page.jpg) no-repeat center 186px; }
 .p {
  width: 960px;
  margin: 0 auto;
  position: relative;
  background: #ffffff; }
.slider {
  position: relative; }


.s {
  padding: 22px 28px 0 33px;
  overflow: hidden; } 
  
  #top-slider .slide-content {
  position: absolute;
  top: 50px;
  left: 483px;
  width: 400px;
  padding: 25px 21px 8px;
  background: url(../../images/typo3_5pics/slider-content-bg.png) 0 0;
  color: #FFF; }

#top-slider .slider-nav h6 {
  color: #515151;
  font-size: 13px;
  margin: 0;
  padding: 15px 0 0;
  font-weight: bold; }

#top-slider .slide-content h2,
#top-slider .slide-content h3,
#top-slider .slider-nav .active h6 {
  color: #FFF; }
  
.slides {
  position: relative;
  overflow: hidden;
  width: 40000em; }

.slides > li {
  position: relative;
  float: left; }

.slider-nav {
  overflow: hidden; }
    
#top-slider {
  margin-top: 10px;
  margin-bottom: 3px;
  overflow: hidden; }

#top-slider .slides {
  height: 282px;
  margin-bottom: 0; }

#top-slider .slides > li {
  width: 982px;
  position: absolute;
  display: none; }

#top-slider .slider-nav {
  margin-top: -9px;
  position: relative;
  width:982px; }

#top-slider .slider-nav > li {
  width: 193px;
  padding: 0px;
  height: 75px;
  background: transparent url(../../images/typo3_5pics/top-slider-narrow.png) no-repeat right 10px;
  float: left;
  cursor: pointer; }

#top-slider .slider-nav > li:hover {
  background-position: 100% -142px; }

#top-slider .slider-nav > li > .d {
  border-left: 0px solid #fff;
  margin-top: 9px;
  padding: 0 10px 10px 15px;
  color: #8c8c8c; }

#top-slider .slider-nav > li.active > .d {
  color: #FFDCA5; }

#top-slider .slider-nav .active:hover,
#top-slider .slider-nav .active {
  background-position: right -66px; }

#top-slider .slider-nav .active .d {
  color: #d7d7d7; }

#top-slider .slider-nav > li:first-child {
  width: 192px; }  
  
.hgroup h1,
.hgroup h2,
.hgroup h3,
.hgroup h4 {
  margin: 0; }

.hgroup {
  margin-bottom: 7px; }
    
#page .check-list li {
  position: relative;
  padding: 0 0 5px 26px;
  background: none; }

#page .check-list li:before,
#page .check-list .icon {
  content: '';
  width: 18px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 1px;
  background: url(../../images/typo3_5pics/s-icons.png) no-repeat -18px -23px; }

#page .check-list li.checked:before,
#page .check-list .checked .icon {
  background-position: 0 -23px; }

/* Breadcrumbs List
------------------------------ */
#page .breadcrumbs {
  overflow: hidden;
  margin: 0 0 17px 0; }

#page .breadcrumbs li {
  background-position: -955px -434px;
  float: left;
  padding: 0 6px 0 10px;
  font-size: 11px;
  color: #b9b9b9; }

#page .breadcrumbs li:first-child {
  background: none;
  padding-left: 0; }
#page .bu {
  height: 23px;
  color: #FFF;
  line-height: 23px;
  font-size: 11px;
  background: transparent url(../../images/typo3_5pics/s-buttons.png) no-repeat 0 0;
  padding: 0 12px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #E97E0D;
  -o-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.bu::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: none; }
.bu:hover,
.bu:hover span,
button:hover .bu,
button:hover .bu span {
  text-decoration: none;
  background-position: 0 -32px; }

.bu:hover span,
button:hover .bu span {
  text-decoration: none; }

.bu::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: none; }
  
.bu div {
  display: none; }

#page .dark-grey {
  background: url(../../images/typo3_5pics/dark-grey.png) repeat-x 0 0;
  border-color: #8b8b8b; }

#page .dark-grey {
  background: url(../../images/typo3_5pics/dark-grey.png) repeat-x 0 0;
  border-color: #8b8b8b; }
#page .bu-mini {
  height: 19px;
  line-height: 20px;
  padding: 0 8px; }
#page .b-archive-nav li {
  background: none;
  margin: 0 0 4px 0;
  padding: 0;
  color: #dbdbdb; }

#page .b-archive-nav .cur {
  color: #000; }
#page .simple-list li {
  margin: 0;
  background: none;
  padding: 0 0 5px 0; }

/* Avatars list
--------------------------------------- */
#page .avatar-list {
  overflow: hidden;
  margin: 0 0 0 -8px; }

#page .avatar-list li,
.user-welcome span {
  margin: 0 0 9px 6px;
  padding: 0;
  float: left;
  background: url(../../images/typo3_5pics/avatar-list-li.png) no-repeat; }

#page .avatar-list li a {
  display: block;
  padding: 6px 8px; }

#page .avatar-teaser {
  margin: 0 15px 10px 0;
  padding: 8px 11px;
  float: left;
  background: url(../../images/typo3_5pics/avatar-teaser.gif) no-repeat; }

/* Photo list
--------------------------------------- */
#page .photo-list {
  overflow: hidden;
  margin: 0 0 0 -8px; }

#page .photo-list li {
  margin: 0 0 9px 6px;
  padding: 0;
  float: left;
  background: url(../../images/typo3_5pics/photo-list-li.png) no-repeat; }

#page .photo-list li a {
  display: block;
  padding: 3px 3px; }
#page .b-news-item-date {
  color: #8c8c8c;
  font-size: 11px;
  margin: 0 0 2px 0; }
#page .ticker-slider li {
  width: 445px;
  padding: 0;
  background: none;
  height: 40px;
  position: relative;
  left: 0;
  top: 0; }
#page .numbers-list li:before,
#page .numbers-list li .icon {
  content: '';
  width: 43px;
  height: 36px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../../images/typo3_5pics/s-icons.png); }
#page .numbers-list {
  font-size: 22px;
  letter-spacing: -1px;
  margin: 0 0 0 10px; }

#page .numbers-list li {
  background: none;
  padding: 6px 0 7px 52px;
  height: 30px;
  position: relative; }
#page .nl-loc:before,
#page .nl-loc .icon {
  background-position: 0 -98px; }

#page .nl-ext:before,
#page .nl-ext .icon {
  background-position: -43px -98px; }

#page .nl-fun:before,
#page .nl-fun .icon {
  background-position: -86px -98px; }

#page .nl-dwn:before,
#page .nl-dwn .icon {
  background-position: -129px -98px; }

#page .nl-web:before,
#page .nl-web .icon {
  background-position: -172px -98px; }
#page .ticker-slider .slides {
  position: static; }

#page .ticker-slider .slider-content {
  position: relative;
  height: 40px; }
#page #small-slider li {
  padding: 0;
  background: none; }

.d p, .d ul, .d ol, .d dl, table, caption, blockquote, address, pre, hr, .hr {
  margin-bottom: 17px; }

.d a {
  color: #E97E0D; }

.d a:hover {
  text-decoration: none; }
.d ul.unstyled,
.d ol.unstyled {
  margin-left: 0;
  list-style: none; }
  .d ul.unstyled li,
  .d ol.unstyled li {
    background: none;
    padding: 0; }
.d .unstyled {
  width: 587px; }
  .d .unstyled .alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .d .unstyled .alert,
  .d .unstyled .alert h4 {
    color: #c09853; }
  .d .unstyled .alert h4 {
    margin: 0; }
  .d .unstyled .alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px; }
  .d .unstyled .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847; }
  .d .unstyled .alert-success h4 {
    color: #468847; }
  .d .unstyled .alert-danger,
  .d .unstyled .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48; }
  .d .unstyled .alert-danger h4,
  .d .unstyled .alert-error h4 {
    color: #b94a48; }
  .d .unstyled .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad; }
  .d .unstyled .alert-info h4 {
    color: #3a87ad; }
  .d .unstyled .alert-block {
    padding-top: 14px;
    padding-bottom: 14px; }
  .d .unstyled .alert-block > p,
  .d .unstyled .alert-block > ul {
    margin-bottom: 0; }
  .d .unstyled .alert-block p + p {
    margin-top: 5px; }
.d h1, .h1,
.d h2, .h2,
.d h3, .h3,
.d h4, .h4,
.d h5, .h5 {
  font-weight: normal;
  font-size: 24px;
  font-family: Share, Arial, sans-serif;
  margin: 22px 0 10px 0; }
.d h1, .h1 {
  color: #FF8700;
  margin-top: 0; }

.d h2, .h2 {
  font-size: 20px;
  margin-bottom: 6px; }

.d h3, .h3 {
  font-size: 18px;
  color: #8c8c8c;
  margin-bottom: 6px; }

.d h4, .h4 {
  font-size: 16px;
  margin-bottom: 7px; }

.d h5, .h5 {
  color: #515151;
  font-size: 16px;
  margin-bottom: 7px; }

.d h6, .h6 {
  font-size: 12px;
  font-weight: bold; }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0; }
.d blockquote ul li {
  background: none;
  padding-left: 10px; }
/* Tables
---------------------------------------- */
.d table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 28px; }

.d table caption {
  text-align: center; }

.d table th,
.d table td {
  border: 1px solid #ccc;
  padding: 6px 10px 5px;
  vertical-align: top; }

.d table th {
  background: #e6e6e6;
  font-weight: normal;
  text-align: left;
  font-weight: bold; }

.featured td {
  background: #f0f0f0; }

.featured .tr-even td {
  background: #fcfcfc; }

.d .featured th {
  background: #515151 url(../../images/typo3_5pics/featured.png) repeat-x 0 0;
  border-color: #515151;
  color: #FFF; }
.d ul {
  margin-left: 0; }

.d ul li {
  padding-left: 20px;
  background: url(../../images/typo3_5pics/i-arrows.png) no-repeat -1152px -235px; }
.d ol li .b-form-inputs span {
  position: static; }
.b-foot-nav li,
.d .b-foot-nav li {
  color: #000;
  background: none;
  padding: 0px; }
.d .img-info {
  color: #b3b3b3;
  font-size: 11px;
  line-height: 14px; }
/* Ordered List
------------------------------ */
.d ol {
  margin-left: 0; }

.d ol li {
  position: relative;
  padding-left: 20px; }

.d ol li span {
  position: absolute;
  top: 0;
  left: 0;
  color: #515151;
  font-weight: bold; }

/* Arrow List
------------------------------ */
.d .arrow-list li {
  background-position: -1192px -195px; }

.slide-img {
  position: absolute;
  left: 0;
  top: 0; }




